				<!-- Aside -->
				<aside id="aside" class="beta">

					<ul>
						<li class="widget widget-search">
							<form action="search_results.html">
								<input type="submit" value="" />
								<div class="input">
									<input name="s" type="text" placeholder="search" />
								</div>
							</form>
						</li>
						<li class="widget widget-social">
							<ul>
								<li><a href="#twitter" title="Follow me" style="background-image: url(data/img/bright/social/twitter.png);">Follow on Twitter</a></li>
								<li><a href="#rss" title="RSS" style="background-image: url(data/img/bright/social/rss.png);">RSS</a></li>
							</ul>
						</li>
						<li class="widget widget-flickr" data-id="52617155@N08" data-count="12">
							<h1>Sponsors</h1>
							<ul class="photos"></ul>
						</li>
					</ul>

				</aside>
				<!-- // Aside -->
			</div>
		</div>
		<!-- // Main section -->
		
		<!-- Bottom section -->
		<footer id="bottom">
			<div class="container">

				<!-- Bottom aside -->
				<aside id="aside-bottom" class="clear">
					<ul>
						<li class="small widget widget-info">
							<hgroup>
								<h1>Website</h1>
								<h2>responsive website<br />template by kubasto</h2>
							</hgroup>
						</li>
						<li class="small widget widget-twitter" data-username="KUBASTOcom" data-count="2">
							<h1>Latest tweets</h1>
							<div class="tweets"></div>
						</li>
						<li class="small widget widget-text">
							<h1>Address</h1>
							<p>
								email: <a href="mailto:themes@kubasto.com">themes@kubasto.com</a><br />
								+48 555 22 11 (Tomy&nbsp;Lee&nbsp;Jones)<br />
								+48 555 65 65 (John&nbsp;Malkovich)
							</p>
							<p>
								Sesame Street 1<br />
								00-525 New York
							</p>
						</li>
						<li class="fixed widget widget-contact">
							<h1>Contact form</h1>
							<form action="data/php/sendmail.php" method="post" class="contact-form">
								<p><input type="text" name="email" placeholder="email*" /> <span class="lte-ie9">email*</span></p>
								<p><textarea name="message"></textarea></p>
								<p class="message"></p>
								<p><input type="submit" value="Send" /><img class="load" src="data/img/bright/load-bottom.gif" alt="" /></p>
							</form>
						</li>
					</ul>
				</aside>
				<!-- // Bottom aside -->

				<!-- Footer -->
				<section id="footer" class="clear">
					<p class="alpha">&copy; Copyright, 2011<br />website by <a href="http://themeforest.net/user/kubasto/?ref=kubasto">kubasto</a></p>
					<p class="beta">powered by <a href="http://themeforest.net/item/website-responsive-template/993139/?ref=kubasto">ThemeForest</a></p>
				</section>
				<!-- // Footer -->

			</div>
		</footer>
		<!-- // Bottom section -->   

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1119465-75', 'auto');
  ga('send', 'pageview');

</script>

<!-- Google Code for API Evangelist visitors -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 964245031;
var google_conversion_label = "U2foCJGT0wkQp-zkywM";
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/964245031/?value=1.000000&amp;label=U2foCJGT0wkQp-zkywM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>