		
		<!-- Top section -->
		<header id="top">			
			<div class="container"></div>
		</header>
		<!-- // Top section -->

		<!-- Main section -->
		<div id="main" class="clear">
			<div class="container">

				<!-- Header -->
				<header id="header" class="clear">
					<hgroup class="alpha">
						<h1 class="alpha vertical">
							<span>
								<a href="/index.html" title="API.Report"><img src="https://s3.amazonaws.com/kinlane-productions/api-report/api-report-logo.png" width="350" alt="API.Report" /></a>
							</span>
						</h1>
					</hgroup>
					<div class="ad beta vertical">
						<div>
							<a href="#_"><img src="https://s3.amazonaws.com/kinlane-productions/api-report/api-search-with-apisio.png" width="468" height="60" alt="" /></a>
						</div>
					</div>
				</header>
				<!-- // Header -->

				<!-- Main navigation -->
				<nav id="nav-main" class="clear left">
					<ul>
						<li><a href="/index.html" title="Home">Home</a></li>
						<li><a href="/background.html" title="Blog">Background</a></li>
						<li><a href="/submit-story.html" title="Blog">Submit Story</a></li>
					</ul>
				</nav>
				<!-- // Main navigation -->