		<!-- Top section -->
		<header id="top">
			
			<div class="container">

				<h1>Navigate / search</h1>

				<div class="frame">

					<div class="inner">

						<!-- Search form -->
						<form action="search_results.html">
							<section id="search">
								<input type="submit" value="" />
								<div class="input">
									<input name="s" type="text" placeholder="search" />
								</div>
							</section>
						</form>
						<!-- // Search form -->

					</div><!-- // .inner -->

				</div><!-- // .frame -->

			</div>
		</header>
		<!-- // Top section -->

		<!-- Main section -->
		<div id="main" class="clear">
			<div class="container">

				<!-- Header -->
				<header id="header" class="clear">
					<hgroup class="alpha">
						<h1 class="alpha vertical">
							<span>
								<a href="index.html" title="Website"><img src="content/bright/logo.png" alt="" /></a>
							</span>
						</h1>
						<h2 class="vertical">
							<span>responsive website template&nbsp;by&nbsp;kubasto</span>
						</h2>
					</hgroup>
					<div class="ad beta vertical">
						<div>
							<a href="#_"><img src="content/bright/ad-468x60.png" width="468" height="60" alt="" /></a>
						</div>
					</div>
				</header>
				<!-- // Header -->

				<!-- Main navigation -->
				<nav id="nav-main" class="clear left">
					<ul>
						<li><a href="/index.html" title="Home">Home</a></li>
						<li><a href="blog.html" title="Blog">Blog</a></li>
					</ul>
				</nav>
				<!-- // Main navigation -->

				<!-- Banners -->
				<div id="banners" class="clear">

					<div class="banner full flexslider fixed">
						<ul class="slides">
							<li>
								<a href="banners_full.html">
									<img src="/" data-src="content/banner-full-01.jpg" class="responsive" data-side="both" alt="" />
									<span class="caption white vertical"><span>This is the main<br />slider with some<br />cool options</span></span>
								</a>
								<p class="flex-caption">Optional caption text</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/" data-src="content/banner-full-02.jpg" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Another caption text</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/" data-src="content/banner-full-03.jpg" class="responsive" data-side="both" alt="" />
									<span class="caption white top"><span>Customized position.<br />I like it.</span></span>
								</a>
							</li>
						</ul>
					</div>

				</div>
				<!-- // Banners -->