		<!-- Top section -->
		<header id="top">
			
			<div class="container"></div>
		</header>
		<!-- // Top section -->

		<!-- Main section -->
		<div id="main" class="clear">
			<div class="container">

				<!-- Header -->
				<header id="header" class="clear">
					<hgroup class="alpha">
						<h1 class="alpha vertical">
							<span>
								<a href="/index.html" title="API.Report"><img src="https://s3.amazonaws.com/kinlane-productions/api-report/api-report-logo.png" width="250" alt="API.Report" /></a>
							</span>
						</h1>
					</hgroup>
					<div class="ad beta vertical">
						<div>
							<a href="#_"><img src="/images/content/bright/ad-468x60.png" width="468" height="60" alt="" /></a>
						</div>
					</div>
				</header>
				<!-- // Header -->

				<!-- Main navigation -->
				<nav id="nav-main" class="clear left">
					<ul>
						<li><a href="/index.html" title="Home">Home</a></li>
						<li><a href="/blog/" title="Blog">Blog</a></li>
					</ul>
				</nav>
				<!-- // Main navigation -->

				<!-- Banners -->
				<div id="banners" class="clear">
					
					<div class="banner full flexslider fixed">
						<ul class="slides">
							<li>
								<a href="banners_full.html">
									<img src="/images/banner/tag-cloud-api-community-2.png" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Community</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/images/banner/tag-cloud-api-evangelist-services.png" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Evangelism</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/images/banner/tag-cloud-api-service-providers.png" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Service Providers</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/images/banner/tag-cloud-api-trends.png" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Trends</p>
							</li>
							<li>
								<a href="banners_full.html">
									<img src="/images/banner/tag-cloud-internet-of-things.png" class="responsive" data-side="both" alt="" />
								</a>
								<p class="flex-caption">Internet of Things</p>
							</li>														
						</ul>
					</div>

				</div>
				<!-- // Banners -->