<!DOCTYPE html>
<html class="no-js" lang="en-US">

	<!-- Head section -->
	<head>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
		
		<title>{{ page.title }}</title>
		
		<meta name="description" content="" />
		
		<meta name="msapplication-TileImage" content="/images/tile/w.png" />
		<meta name="msapplication-TileColor" content="#089bc3" />

		<link rel="shortcut icon" href="data/img/favicon/w.png" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rokkitt:400,700" />
		<link rel="stylesheet" href="/css/fancybox.css" />
		<link rel="stylesheet" href="/css/flexslider.css" />
		<link rel="stylesheet" href="/css/mejs.css" />
		<link rel="stylesheet" href="/css/tipsy.css" />
		<link rel="stylesheet" href="/css/base.css" />
		<link rel="stylesheet" href="/css/structure.css" />
		<link rel="stylesheet" href="/css/parts.css" />
		<link rel="stylesheet" href="/css/widgets.css" />
		<link rel="stylesheet" href="/css/bright.css" />
		<link rel="stylesheet" href="/css/color.css" />

		<!--[if lte IE 9]>
		<link rel="stylesheet" href="/css/ie9.css" />
		<![endif]-->
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="/css/ie8.css" />
		<script src="/js/html5.js"></script>
		<script src="/js/respond.min.js"></script>
		<![endif]-->

		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.cookie.min.js"></script>
		<script src="/js/jquery.fancybox.min.js"></script>
		<script src="/js/jquery.flexslider.min.js"></script>
		<script src="/js/jquery.masonry.min.js"></script>
		<script src="/js/jquery.tipsy.min.js"></script>
		<script src="/js/jquery.yaselect.min.js"></script>
		<script src="/js/website.config.js"></script>
		<script src="/js/website.min.js"></script>

	</head>
	<!-- // Head section -->
