{% include top.html %}

<body>

{% include header.html %}
	
	<!-- Content -->
	<section id="content">

		<!-- Credits -->
		<article class="post page">
			<section class="main clear">
				
				<h1 class="title">{{ page.title }}</h1>
				<div class="content">
					
  					{{ content }}
  					
  				</div>
				<ul class="social clear">
					<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://themes.kubasto.com/template/website/about.php" data-text="Website - responsive template" data-count="horizontal">Tweet</a></li>
					<li class="facebook"><div class="fb-like" data-href="http://themes.kubasto.com/template/website/about.php" data-send="false" data-layout="button_count"></div></li>
					<li class="inshare"><div class="g-plusone" data-size="medium" data-href="http://themes.kubasto.com/template/website/about.php"></div></li>
				</ul>
				
			</section>				
		</article>
		<!-- // Credits -->
					
  	</section>   

{% include footer.html %}

	</body>
</html>