{% include top.html %}

<body>
	
 {% include header.html %}

	<!-- Content -->
	<section id="content" class="alpha">

		<!-- Default post with image -->
		<article class="post default">
			<section class="main clear">
				<h1 class="title">{{ page.title }}</h1>
				<div class="content">

					{{ content }}
					
				</div>
			</section>
			<section class="about clear">
				<img src="http://www.gravatar.com/avatar/9a0662d44e34c1e2e2af6bc311b16da0?s=60" alt="" class="avatar" />
				<div class="info">
					<h1>Kuba Sto</h1>
					<p>This is an example information about the author.<br />Second line is also an option.</p>
				</div>
			</section>
			<ul class="social clear" style="padding-left: 50px; text-align: center;">
				<li class="twitter">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="apievangelist">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				</li>
				<li class="facebook">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=101594059937394&version=v2.0";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
				</li>
				<li class="googleplus">
					<script src="//platform.linkedin.com/in.js" type="text/javascript">
					  lang: en_US
					</script>
					<script type="IN/Share" data-counter="right"></script>					
				</li>
			</ul>
			
			<ul class="meta">
				<li class="date"><a href="#_">{{ page.date | date:"%m-%d-%Y" }}</a></li>
				<li class="tags"><a href="#_">tag one</a>, <a href="#_">tag two</a>, <a href="#_">tag</a></li>
			</ul>
			
			<hr />
		    <div class="row" align="center" style="padding-top: 10px; padding-bottom: 10px;">
		        <div class="pagination">
		          <ul>
		          {% if page.previous %}
		            <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a></li>
		          {% else %}
		            <li class="prev disabled"><a>Previous</a></li>
		          {% endif %}
		            
		          {% if page.next %}
		            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next</a></li>
		          {% else %}
		            <li class="next disabled"><a>Next</a>
		          {% endif %}
		          </ul>
		        </div>
		    </div>
		    
		    <hr />
		    <!-- 3scale -->
		    <p align="center">
		        <a href="http://bit.ly/13esk6Q" target="_blank" title="APIs From 3Scale">
		            <img src="https://s3.amazonaws.com/kinlane-productions/api-service-providers/3Scale/empowered-by-3scale.png" width="300" style="padding-bottom: 15px;" />
		        </a>        
		    </p>  			
					
		</article>
		<!-- // Default post with image -->

		<!-- Comment form -->
		<section class="comment-form">
			
		    <div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'theapistack'; // required: replace example with your forum shortname
		
		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		    		
		</section>
		<!-- // Comment form -->

	</section>
	<!-- // Content -->
	
{% include footer.html %}	

	</body>
</html>
				